:root{
    --netflix-red: #E50914; /* Cor principal do logo da Netflix e botões chamativos, transmite energia e urgência */
    --netflix-black: #000000; /* Usado como cor de fundo para dar contraste e sofisticação à interface */
    --netflix-white: #FFFFFF; /* Cor dos textos principais e ícones sobre fundos escuros, facilita a leitura */
    --netflix-dark-gray: #303030; /* Utilizado para fundos secundários e áreas de navegação, traz profundidade */
    --netflix-deep-red: #B00710; /* Variante do vermelho principal, usada em hover ou elementos complementares */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/images/Fundo.jpg");
    background-size: cover;
}
body::-webkit-scrollbar {
    display: none;
}
header{
    z-index: 9999;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 400px;
    gap: 40px;
}
.meinho{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    display: flex;
    align-items: left;
    padding-left: 70px;
    justify-content: left;
    padding-top: 50px;
    flex-direction: column;
    gap: 40px;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    height: 700px;
    width: 500px;
    color: white;
}
.input{
    width: 100%;
    max-width: 22.5rem; 
    height: 50px; 
    padding: 16px 20px;
    
    font-size: 1rem;
    color: var(--netflix-white);
    
    background-color: var(--netflix-dark-gray);
    border: 1px solid #777;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.2s ease;
}
.input:focus {
    border-color: var(--netflix-white);
}

.input::placeholder {
    color: #8c8c8c;
    font-size: 1rem;
}
p{
    font-size: 11px;
    width: 80%;
    font-weight: bold;
    color: #777;
}
#checkbox-container{
    display: flex;
    font-size: 1rem;
    color: var(--netflix-white);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    gap: 10px;
}

#lembrar:hover{
    cursor: pointer;
}

button{
    width: 100%;
    max-width: 22.5rem; 
    padding: 16px;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--netflix-white);
    background-color: var(--netflix-red);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
button:hover{
    cursor: pointer;
    background-color: var(--netflix-deep-red);
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 1024px) {
    header{
        position: absolute;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
}

@media (max-width: 600px) {
    
    .box{
        align-items: center;
        background-color: black;
        padding: 0;
    }
    button{
        width: 225px;
    }
    body{
        background-image: var(--netflix-black);
        background-color: black;
    }

}
@media (max-width: 500px) {
    .input{
        max-width: 18rem; 
    }
    button{
        max-width: 18rem; 
    }
    
}